.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright__link-span {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright__link svg {
  fill: #666666;
  margin-right: -7px;
}

.copyright__link:hover svg {
  fill: #68b738;
}

.copyright__link:active svg {
  fill: #68b738;
  opacity: 0.3;
}
