.example {
  background-color: #f2f2f2;
  border-top: 1px solid #d9d9d9;
}

.example__container{
  width: 280px;
  margin: 0 auto;
}

.example__title {
  .font-oswald();
  text-transform: none;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 26px;
}

.example__description {
  margin: 0;
  padding-bottom: 25px;
}

.example__result-container{
margin-bottom: 45px;
}

.example__result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example__result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 122px;
  padding-top: 16px;
  padding-bottom: 22px;
}

.example__result-value {
  .font-oswald();
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 12px;
}

.example__result-title {
  line-height: 12px;
  text-align: center;
  width: 85px;
  margin: 0;
}

.example__cost {
  .font-oswald();
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.example__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.example__item{
  background-repeat: no-repeat;
  width: 320px;
  height: 240px;
&--before{
  background-image: url(../img/before-mobile@1x.png);
}
&--after{
  display: none;
  background-image: url(../img/after-mobile@1x.png);
}
}
.example__toggles {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 37px;
}

.slider__toggle {
  .font-oswald();
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;
  border-bottom: 1px dashed #bebebe;

  &:hover {
    border-bottom: 1px solid #989898;
  }

  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
    border-top: none;
  }
  .example__container{
    width: 768px;
  }
  .example__result-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 265px;
  }
  .example__cost{
    padding-top: 16px;
  }
  .example__wrapper{
    background-color: #f2f2f2;
    background-image: url();
  }
  .example__toggles {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 65px;
    padding-top: 360px;
  }

  .example__list{
    position: relative;
  }
  .example__item{
    position: absolute;
    top: -180px;
    left: 50px;
  }
  .example__item{
    width: 690px;
    height: 517px;

  &--before{
    background-image: url(../img/before-tablet@1x.png);
  }
  &--after{
    display: none;
    background-image: url(../img/after-tablet@1x.png);
  }
  }

}

@media (min-width: @desktop-width) {
  .example__container{
    width: 1220px;
  }
  .example__result-container{
    flex-direction: column;
  }
}
