.instruction {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 42px;
}

.instruction__title {
  .font-oswald();
  text-transform: none;
  font-size: 36px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 30px;
}

.instruction__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.instruction__item {
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.instruction__description {
  padding-left: 80px;
  margin: 0;
}
