.map {
  display: flex;
  background-image: url('../img/bg-map-mobile@1x.png');
}

.map__iframe {
  width: 100%;
  height: 360px;
}

@media (min-width: @tablet-width) {
  .map__iframe {
    height: 395px;
  }
}

@media (min-width: @desktop-width) {
  .map__iframe {
    height: 400px;
  }
}
