.other-products {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 39px;
}

.other-products__title {
  .font-oswald();
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}

.other-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.other-products__item {
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
}

.other-products__title-product {
  .font-oswald();
  font-size: 16px;
  line-height: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
}

.other-products__weight-price {
  line-height: 14px;
  padding-top: 0;
  padding-bottom: 13px;
  margin: 0;
}

.other-products__button {
  margin-bottom: 17px;
}
