.promo {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  width: 100%;
  min-width: 320px;
}

.promo__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.promo__background-container {
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__title {
  position: relative;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}

.promo__slogan {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 165px;
  margin: 0;
}

.promo__image {
  position: absolute;
  top: 170px;
  left: calc(50% - 140px);
}

.promo__button {
  margin: 135px auto 20px;
}
@media (min-width: @tablet-width) {
  .promo {
    color: #111111;
    text-align: left;
    width: 768px;
    margin: 0 auto;
  }

  .promo__background-container {
    background-color: transparent;
    background-image: none;
  }

  .promo__wrapper {
    width: 100%;
  }

  .promo__title {
    width: 427px;
    font-size: 60px;
    line-height: 60px;
    margin-left: 120px;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    width: 295px;
    margin-left: 120px;
    padding-bottom: 0;
  }

  .promo__image {
    display: none;
    /*здесь будет другое изображение*/
  }

  .button.promo__button {
    position: relative;
    z-index: 3;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 25px;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 530px;
  }
}
@media (min-width: @desktop-width) {
  .promo {
    width: 1300px;
    margin-top: -410px;
  }

  .promo__image {
    display: none;
    /*здесь будет другое изображение*/
  }

  .button.promo__button {
    margin-bottom: 268px;
  }

  .promo__title {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
