.promo {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  width: 100%;
  min-width: 320px;
}

.promo__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.promo__wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../img/index-can-mobile@1x.png");
  display: block;
  width: 280px;
  height: 271px;
  top: 167px;
  left: 20px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: 280px auto;
  }
}

.promo__background-container {
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.promo__title {
  position: relative;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}

.promo__slogan {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 170px;
  margin: 0;
}

.button.promo__button {
  margin: 134px auto 24px;
  padding: 12px 73px;
}

@media (min-width: @tablet-width) {
  .promo {
    color: #111111;
    text-align: left;
    width: 768px;
    margin: 0 auto;
  }

  .promo__background-container {
    background-color: transparent;
    background-image: none;
  }

  .promo__wrapper {
    width: 100%;
  }

  .promo__wrapper::after {
    background-image: url("../img/index-can-tablet@1x.jpg");
    width: 709px;
    height: 609px;
    top: 202px;
    left: 29px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  .promo__title {
    width: 427px;
    font-size: 60px;
    line-height: 60px;
    margin-left: 120px;
    padding-bottom: 40px;
    padding-top: 0;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    width: 295px;
    margin-left: 120px;
    padding-bottom: 0;
  }

  .button.promo__button {
    position: relative;
    z-index: 3;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 25px;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 530px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 1300px;
    margin-top: -550px;
  }

  .promo__wrapper::after {
    background-image: url("../img/index-can-desktop@1x.png");
    width: 552px;
    height: 499px;
    top: -83px;
    left: 490px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px auto;
    }
  }

  .button.promo__button {
    margin-bottom: 268px;
  }

  .promo__title {
    padding-top: 0;
    padding-bottom: 39px;
  }
}
