.request__title {
  .font-oswald();
  text-transform: none;
  font-size: 36px;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

.request__description {
  .font-oswald();
  padding-left: 20px;
  padding-right: 50px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 38px;
}

.request__personal {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.request__personal-item {
  margin: 0;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 23px;
  }
}

.request__label {
  .font-oswald();
  font-size: 16px;
  line-height: 18px;
  margin-right: 14px;

  &--additional,
  &--program {
    padding-left: 45px;
  }
}

.request__input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px 15px;
  border: 1px solid #e6e6e6;

  &--name {
    width: 224px;
  }

  &--weight {
    width: 202px;
  }

  &--age {
    width: 169px;
  }

  &--email {
    width: 212px;
  }

  &--phone {
    width: 195px;
  }
}

.request__program {
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.request__program-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.request__program-item {
  padding-bottom: 24px;
}

.request__contacts {
  padding: 30px 20px;
}

.request__caption {
  .font-oswald();
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.request__contacts-item {
  margin-top: 0;
  margin-bottom: 14px;
}

.request__comment {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.request__cat-about {
  .font-oswald();
  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;
}

.request__additional {
  padding-left: 20px;
  padding-right: 20px;
}

.request__additional-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.request__additional-item {
  padding-bottom: 26px;

  &:last-child {
    padding-bottom: 40px;
  }
}

.button.request__button {
  font-size: 16px;
  line-height: 20px;
  padding-left: 80px;
  padding-right: 76px;
  margin-left: 20px;
  margin-right: 20px;
}

.request__required {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 16px;
  margin-top: 22px;
  margin-bottom: 32px;
  text-align: center;
}
