.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 125px;
  line-height: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link:hover svg path{
  fill: #68b738;
}

.social__link:focus svg path{
  opacity: 0.3;
}
